/* Reset de estilo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 5px; /* Espaçamento interno */
  height: 190px; /* Altura padrão para o cabeçalho */
}

.logo img {
  max-height: 100%; /* A logo não ultrapassa a altura do contêiner */
  max-width: 100%; /* A logo é dimensionada para caber no contêiner */
  object-fit: contain; /* Mantém a proporção da imagem */
}

.logo p {
  font-size: 16px;
  color: #c9c7c7;
  text-align: center;
  margin-top: 10px;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  color: #000000;
  background-color: #f7f7f7;
}

/* Cabeçalho */
header {
  background-color: #102caa;
  color: white;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap; /* Suporte a telas pequenas */
}

header .logo {
  font-size: 1.2rem;
  font-weight: bold;
}

header nav ul {
  list-style: none;
  display: flex;
  gap: 15px;
  flex-wrap: wrap; /* Quebra em telas menores */
  justify-content: center;
}

header nav ul li a {
  text-decoration: none;
  color: white;
  padding: 5px 10px;
  transition: background-color 0.3s;
}

header nav ul li a:hover {
  background-color: #d4af37;
  border-radius: 5px;
}

/* Menu Secundário */
/* Estilo base para o menu */
.menu {
  display: flex;
  flex-direction: column; /* Por padrão, os botões ficam em coluna */
  align-items: center;
  gap: 20px; /* Espaçamento entre os botões */
  padding: 18px;
}

/* Estilo base para o menu */
/* Estilo base para o menu */
.menu {
  display: flex;
  flex-direction: column; /* Botões em coluna */
  align-items: center;
  padding: 30px;
}

.menu a {
  text-decoration: none;
  color: #003f5c;
  background-color: white;
  padding: 20px 20px;
  border: 2px solid #003f5c;
  border-radius: 10px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  margin-bottom: 20px; /* Espaçamento vertical entre os botões */
}

.menu a:last-child {
  margin-bottom: 0; /* Remove o espaçamento do último botão */
}

.menu a:hover {
  background-color: #003f5c;
  color: #fff;
  border-color: #d4af37;
}

/* Estilo para telas maiores */
@media (min-width: 768px) {
  .menu {
    flex-direction: row; /* Botões lado a lado */
    justify-content: center; /* Centraliza os botões */
  }

  .menu a {
    margin-bottom: 0; /* Remove o espaçamento vertical */
    margin-right: 15px; /* Espaçamento horizontal entre os botões */
  }

  .menu a:last-child {
    margin-right: 0; /* Remove o espaçamento do último botão em telas maiores */
  }
}




/* Certifique-se de que o menu ocupa a largura total do espaço disponível */
header {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
}

.menu li {
  list-style: none;
}

.menu a {
  text-decoration: none;
  color: #003f5c;
  background-color: white;
  padding: 9px 20px;
  border: 0px solid #003f5c;
  border-radius: 20px;
  font-size: 0.9rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
}

/* Seção Hero */
#hero {
  position: relative;
  text-align: center;
  color: white;
  padding: 150px 50px;
  overflow: hidden; /* Garante que a imagem não ultrapasse os limites */
}

#hero .background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* Faz a imagem cobrir todo o espaço */
  z-index: -1; /* Coloca a imagem atrás do conteúdo */
}

#hero h1, #hero button {
  position: relative; /* Garante que o texto esteja acima da imagem */
  z-index: 1;
}

#hero h1 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

#hero button {
  padding: 10px 20px;
  border: none;
  background-color: #d4af37;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#hero button:hover {
  background-color: #ffa500;
}


/* Estilo para o título Empreendimentos */
h2 {
  color: #022d7c !important; /* Azul escuro */
  text-align: center; /* Centraliza o texto */
  font-size: 2rem; /* Ajusta o tamanho da fonte (opcional) */
  margin-bottom: 20px; /* Espaçamento abaixo do título */
}

/* Grid de Empreendimentos */
.card {
  height: 400px; /* Altura fixa para os cards */
}

/* Grid de Empreendimentos */ 
.card {
  height: 400px; /* Altura fixa para os cards */
}

/* Ajuste nos cards */
.card-img-top {
  height: 200px;
  object-fit: cover; /* Assegura que a imagem cubra o espaço disponível */
}

.card-img:hover {
  transform: scale(1.03); /* Efeito de leve aumento ao passar o mouse */
}

.carousel-item {
  padding: 20px 0;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}

/* Botões transparentes */

/* Botão com fundo azul */
.btn-transparent {
  background-color: #007bff; /* Fundo azul */
  color: white; /* Texto branco */
  padding: 10px 20px; /* Espaçamento interno */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  font-size: 1rem; /* Tamanho da fonte */
  text-align: center; /* Centraliza o texto */
  text-decoration: none; /* Remove o sublinhado */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Transições suaves */
}

/* Efeito no hover (aumenta o botão no hover) */
.btn-transparent:hover {
  background-color: #0056b3; /* Azul escuro no hover */
  color: white; /* Texto permanece branco */
  transform: scale(1.05); /* Leve aumento no hover */
}

.carousel-item img {
  height: 300px;
  object-fit: cover;
  position: relative;
}

/* Controles de navegação */
.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
}


/* Seção Sobre Nós */
#sobre-nos {
  padding: 20px;
  background-color: #f7f7f7; /* Fundo claro para contraste */
  color: #003f5c; /* Azul escuro para o texto */
  line-height: 1.6;
  border-radius: 8px; /* Bordas arredondadas */
  margin: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra leve */
}

#sobre-nos h2 {
  text-align: center;
  color: #003f5c;
  margin-bottom: 20px;
  font-size: 2rem;
}

#sobre-nos h3 {
  color: #003f5c;
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

#sobre-nos p {
  margin-bottom: 15px;
}

#sobre-nos ul {
  list-style: disc;
  margin-left: 20px;
  margin-bottom: 20px;
}

#sobre-nos ul li {
  margin-bottom: 10px;
}


/* Seção Contato */
form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 20px;
}

form input, form textarea {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 1rem;
}

form button {
  padding: 10px;
  border: none;
  background-color: #003f5c;
  color: white;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

form button:hover {
  background-color: #d4af37;
}

/* Rodapé */
footer {
  background-color: #0A1C2B;
  color: #ffffff;
  padding: 20px 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-logo {
  flex: 1 1 150px;
  margin-right: 20px;
}

.footer-logo img {
  max-width: 40%;
  height: auto;
}

.footer-section {
  flex: 1;
  margin-bottom: 20px;
}

.footer-section h3,
.footer-section h4 {
  color: #ffffff;
  margin-bottom: 10px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 5px;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-bottom {
  text-align: center;
  border-top: 1px solid #ffffff;
  padding-top: 10px;
  margin-top: 10px;
}

.footer-bottom p {
  margin: 5px 0;
}

.footer-bottom a {
  color: #ffffff;
  text-decoration: underline;
}

.footer-bottom a:hover {
  color: #00aaff;
}

/* Responsividade */
@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .footer-logo {
    margin-bottom: 20px;
  }

  .footer-section {
    flex: none;
    margin-bottom: 20px;
  }
}


/* Media Queries para telas menores */
@media (max-width: 480px) {
  .menu {
    flex-direction: column;
    gap: 17px;
  }

  #hero {
    padding: 40px 15px;
  }

  .card {
    padding: 15px;
    font-size: 0.9rem;
  }

  form input, form textarea {
    font-size: 0.9rem;
    padding: 8px;
  }

  form button {
    font-size: 0.9rem;
    padding: 8px 12px;
  }
}


.social-media h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

.social-link {
  display: flex;
  align-items: center;
  color: #ffffff; /* Cor do texto */
  text-decoration: none;
  font-size: 18px;
  margin-bottom: 10px;
}

.social-link i {
  margin-right: 8px; /* Espaço entre o ícone e o texto */
  font-size: 20px; /* Tamanho do ícone */
}

.social-link:hover {
  color: #007bff; /* Cor ao passar o mouse */
}
 

/*desenvolvido */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Dancing+Script:wght@400;700&display=swap');

.developed-by {
  font-family: 'Poppins', sans-serif; /* Fonte moderna */
  font-size: 16px; /* Tamanho da fonte */
  color: #555; /* Cor do texto */
  text-align: center; /* Centralizar texto */
  margin-top: 20px; /* Espaçamento superior */
}

.developed-by a {
  text-decoration: none; /* Remover sublinhado */
  color: #007bff; /* Cor do link */
}

.developed-by a:hover {
  color: #0056b3; /* Cor ao passar o mouse */
}


.btn-link {
  display: inline-block;
  padding: 10px 20px;
  font-size: 17px;
  color: white;
  background-color: #007bff;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}

.btn-link:hover {
  background-color: #3a70d4;
}


