<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title> Vicente Pires Casa 4 quartos</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" href="/Static/stylesEmp.css"> <!-- Link para o CSS -->
</head>
<body>
  <!-- Menu de Navegação -->
   
  <nav class="navbar navbar-expand-lg navbar-dark navbar-dark-bg shadow-sm">
    <div class="container">
      <a class="navbar-brand" href="/index.html">
        <img src="/Resources/logo.png" alt="Logo da Imobiliária" class="logo-img">
      </a>
      <br>

      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >

        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item"><a class="nav-link" href="/index.html">Home</a></li>
          <li class="nav-item"><a class="nav-link" href="/Template/Cidades/aguasclaras.html">Águas Claras</a></li>
          <li class="nav-item"><a class="nav-link" href="/Template/Cidades/asanorte.html">Asa Norte</a></li>
          <li class="nav-item"><a class="nav-link" href="/Template/Cidades/asasul.html">Asa Sul</a></li>
          <li class="nav-item"><a class="nav-link" href="/Template/Cidades/ceilandia.html">Ceilândia</a></li>
          <li class="nav-item"><a class="nav-link" href="/Template/Cidades/gama.html">Gama</a></li>
          <li class="nav-item"><a class="nav-link" href="/Template/Cidades/guara.html">Guará</a></li>
          <li class="nav-item"><a class="nav-link" href="/Template/Cidades/samambaia.html">Samambaia</a></li>
          <li class="nav-item"><a class="nav-link" href="/Template/Cidades/sobradinho.html">Sobradinho</a></li>
          <li class="nav-item"><a class="nav-link" href="/Template/Cidades/riachofundo.html">Riacho Fundo</a></li>
          <li class="nav-item"><a class="nav-link" href="/Template/Cidades/taguatinga.html">Taguatinga </a></li>
          <li class="nav-item"><a class="nav-link active" href="/Template/Cidades/vicentepires.html">Vicente Pires</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <header>
    <!-- Adiciona o link do Google Fonts no <head> -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
<p style="font-family: 'Poppins', sans-serif; font-size: 0.8rem; font-weight: 600; color: #f5f5f5; text-align: center;">
Uma parceria confiável para corretores realizarem sonhos.
</p>
</div>
</header>

  <!-- Header -->
  <header class="text-center py-4 bg-light">
    <h1 class="text-primary">Sobrado em lote de 430m2 (CONDOMÍNIO)</h1>
  </header>

  <div class="carousel-container">
    <div id="carouselExample" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          
          <img id="mainImage" src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg" class="d-block w-100" alt="Imagem 1">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0429.jpg" class="d-block w-100" alt="Imagem 2">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0430.jpg" class="d-block w-100" alt="Imagem 3">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0431.jpg" class="d-block w-100" alt="Imagem 4">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0432.jpg" class="d-block w-100" alt="Imagem 5">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0433.jpg" class="d-block w-100" alt="Imagem 6">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0434.jpg" class="d-block w-100" alt="Imagem 7">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0435.jpg" class="d-block w-100" alt="Imagem 8">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0436.jpg" class="d-block w-100" alt="Imagem 9">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0437.jpg" class="d-block w-100" alt="Imagem 10">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0438.jpg" class="d-block w-100" alt="Imagem 11">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0439.jpg" class="d-block w-100" alt="Imagem 12">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0440.jpg" class="d-block w-100" alt="Imagem 13">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0441.jpg" class="d-block w-100" alt="Imagem 14">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0442.jpg" class="d-block w-100" alt="Imagem 15">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0443.jpg" class="d-block w-100" alt="Imagem 16">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0444.jpg" class="d-block w-100" alt="Imagem 17">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0445.jpg" class="d-block w-100" alt="Imagem 18">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0446.jpg" class="d-block w-100" alt="Imagem 19">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0447.jpg" class="d-block w-100" alt="Imagem 20">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0448.jpg" class="d-block w-100" alt="Imagem 21">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0449.jpg" class="d-block w-100" alt="Imagem 22">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0450.jpg" class="d-block w-100" alt="Imagem 23">
        </div>
        <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0451.jpg" class="d-block w-100" alt="Imagem 24">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0452.jpg" class="d-block w-100" alt="Imagem 25">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0453.jpg" class="d-block w-100" alt="Imagem 26">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0454.jpg" class="d-block w-100" alt="Imagem 27">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0455.jpg" class="d-block w-100" alt="Imagem 28">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0456.jpg" class="d-block w-100" alt="Imagem 29">
        </div>
                <div class="carousel-item">
          <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0457.jpg" class="d-block w-100" alt="Imagem 30">
        </div>

        

      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  
    <!-- Lista de Miniaturas -->
    <div class="thumbnail-list">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg" alt="Imagem 1" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 0)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0429.jpg" alt="Imagem 2" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 1)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0430.jpg" alt="Imagem 3" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 2)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0431.jpg" alt="Imagem 4" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 3)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0432.jpg" alt="Imagem 5" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 4)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0433.jpg" alt="Imagem 6" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 5)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0434.jpg" alt="Imagem 7" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 6)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0435.jpg" alt="Imagem 8" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 7)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0436.jpg" alt="Imagem 9" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 8)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0437.jpg" alt="Imagem 10" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 9)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0438.jpg" alt="Imagem 11" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 10)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0439.jpg" alt="Imagem 12" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 12)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0440.jpg" alt="Imagem 13" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 13)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0441.jpg" alt="Imagem 14" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 14)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0442.jpg" alt="Imagem 15" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 15)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0443.jpg" alt="Imagem 16" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 16)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0444.jpg" alt="Imagem 17" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 17)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0445.jpg" alt="Imagem 18" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 18)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0446.jpg" alt="Imagem 19" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 19)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0447.jpg" alt="Imagem 20" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 20)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0448.jpg" alt="Imagem 21" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 21)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0449.jpg" alt="Imagem 22" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 22)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0450.jpg" alt="Imagem 23" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 23)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0451.jpg" alt="Imagem 24" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 24)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0452.jpg" alt="Imagem 25" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 25)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0453.jpg" alt="Imagem 26" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 26)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0454.jpg" alt="Imagem 27" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 27)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0455.jpg" alt="Imagem 28" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 28)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0456.jpg" alt="Imagem 29" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 29)">
      <img src="\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0457.jpg" alt="Imagem 30" onclick="changeMainImage('\Resources\Empreendimentos\Vicente Pires\vp2\IMG-20250521-WA0428.jpg', 30)">
     
    </div>
  </div>
  
  
  <div class="property-info">
    <strong><h2>Sobrado 4 Quartos Vicente Pires</h2></strong>
    <p><strong>Localização: Vicente Pires Rua 8 </strong> </p>
    <p><strong>Valor:</strong> R$ 1.150.000.00</p>
    
    <div class="property-details">
      <div><i class="fas fa-expand"></i> <strong>Área:</strong> 260m2 </div>
      <div><i class="fas fa-couch"></i> <strong>Sala:</strong> 2</div>
      <div><i class="fas fa-bed"></i> <strong>Quartos:</strong> 4</div>
      <div><i class="fas fa-car"></i> <strong>Vagas:</strong> 4</div>
      <div><i class="fas fa-toilet"></i> <strong>Banheiros:</strong> 3</div>
      <div><i class="fas fa-shower"></i> <strong>Suítes:</strong> 2</div>
      <div><i class="fas fa-umbrella-beach"></i> <strong>Varanda:</strong> Sim</div>
      
    </div>
    
    <p><strong>Lazer: Espaço gourmet com churrasqueira, ideal para momentos de confraternização. </strong></p>
    <p><strong>DETALHES DO IMÓVEL: Casa em condomínio, oferecendo segurança e tranquilidade. Conta com sala ampla para três ambientes, área de serviço funcional, varandas espaçosas na sala e nos quartos, além de belo jardins com pergolado, proporcionando um ambiente agradável e acolhedor.</strong></p>

    <br>

    <a href="https://wa.me/5561999835448" class="contact-button" target="_blank">
        <i class="fab fa-whatsapp"></i> Falar com o Corretor
    </a>
</div>

  

  <!-- Rodapé -->
  <footer>
    <div class="footer-container">
      <div class="footer-logo">
        <img src="/Resources/logo.png" alt="Logo MBS IMOBILIÁRIA">
      </div>
      <div class="footer-section">
        <h4>MBS Imobiliaria</h4>
        <p>CRECI:<br>DF 24809</p>
      </div>
      <div class="footer-section">
        <h4>Página inicial</h4>
        <ul>
          <li><a href="#">Página inicial</a></li>
          <li><a href="#">Sobre a MBS</a></li>
          <li><a href="#">Imóveis</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contato</h4>
        <p>Fale conosco<br> (61) 99983-5448<br>
      </div>
      <div class="footer-section">
        <h4>Redes Sociais</h4>
        <a href="https://www.instagram.com/mbs.imoveis/" target="_blank" class="social-link">
          <i class="fab fa-instagram"></i> Instagram
        </a>
        
        <a href="https://www.facebook.com/mbsimoveisdf" target="_blank" class="social-link">
          <i class="fab fa-facebook"></i> Facebook
        </a>
      </div>
    </div>
    <div class="footer-bottom">
      <p>ADE Águas Claras - Conj. 28 Lote 29 Sala 01 - Brasília DF - CEP. 71991-360</p>
      <p>Site de propriedade da MBS IMOBILIÁRIA. Todos os direitos reservados. Ao navegar por esse site, você concorda com o nosso <a href="#">Aviso de Privacidade</a>.</p>
      <p class="developed-by">
        Desenvolvido por <a href="https://www.linkedin.com/in/cauanmassino/" class="signature">Cauan Massino</a>
      </p>
      
      
    </div>
  </footer>

  <a href="https://wa.me/5561999835448" class="whatsapp-button" target="_blank">
    <i class="fab fa-whatsapp"></i>
  </a>
  


  <!-- Bootstrap JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

  <script>
    // Função para alterar a imagem principal ao clicar nas miniaturas
    function changeMainImage(imageSrc) {
      document.getElementById('mainImage').src = imageSrc;
    }
  </script>
</body>
</html>
